body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

#file-input {
    display: none;
}

#file-input + label {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

#file-input + label:hover {
    background-color: #007B9A;
}

#preloaded-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#preloaded-games button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

#preloaded-games button:hover {
    background-color: #45A049;
}

#game-container {
    width: 620px;
    height: 480px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
